
@{
    ViewBag.Title = "Index";
}

<h2>Vites İşlemleri</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/default.js"></script>
</head>
<body>
    <div class="container">
        <div Id="list">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>İsim</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody Id="myTbody">
                    <tr></tr>
                </tbody>
            </table>
        </div>
        <button id="newgear" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#gear">Yeni Vites</button>
        @* Modal *@
        <div Id="gear" class="modal" role="dialog">
            <div class="modal-dialog">
                @* Content *@
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Rol İşlem</h4>
                    </div>
                    <div class="modal-body">
                        <form Id="frmgear">
                            <div class="formgear" style="display:none">
                                <label for="txtId">Id</label>
                                <input type="text" placeholder="Id" Id="txtId" class="form-control" />
                            </div>
                            <div class="formgear">
                                <label for="txtName">İsim</label>
                                <input type="text" placeholder="İsim" Id="txtName" class="form-control" />
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Kapat</button>
                        <button Id="btnAdd" class="btn btn-default" onclick="Add()">Ekle</button>
                        <button Id="btnUpdate" class="btn btn-default" onclick="Update()" style="display:none;">Güncelle</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(GetAll());

        function GetAll() {
            $.ajax({
                url: "/Admin/Gear/List",
                type: "Get",
                contentType: "json",
                dataType: "json",

                success: function (result) {
                    var html;
                    $.each(result, function (index, item) {
                        html += '<tr>';
                        html += '<td>' + item.ID + '</td>';
                        html += '<td>' + item.Name + '</td>';
                        html += '<td><span class="glyphicon glyphicon-pencil"></span><a href="#" onclick="GetById(' + item.ID + ')" data-toggle="modal" data-target="#gear">Güncelle</a> &empty;  <span class="glyphicon glyphicon-remove"></span><a href="#" onclick="Delete(' + item.ID + ')">Sil</a></td>';
                        html += '</tr>';
                    })
                    $('#myTbody').html(html);
                },
                error: function (hata) {
                    alert(hata);
                }


            })

        }
        function NewGear() {
            $('#btnUpdate').hide();
            $('#btnAdd').show();
            $("#txtName").val(null);
        }

        function Add() {


            $.ajax({
                url: "/Admin/Gear/Add",
                type: "get",
                data: {
                    ID: $("#txtId").val(),
                    Name: $("#txtName").val(),
                },
                contentType: "json",
                dataType: "json",
                success: function (result) {
                    alert(result);
                    GetAll();
                },
                error: function (hata) {

                    alert(hata);
                }


            })

        }

        function GetById(id) {
            $("#btnAdd").hide();
            $("#btnUpdate").show();
            $.ajax({
                url: "/Admin/Gear/GetById/" + id,
                type: "Get",
                contentType: "json",
                dataType: "json",
                success: function (result) {
                    $("#txtId").val(result.ID),
                    $("#txtName").val(result.Name)

                },
                error: function (hata) {
                    alert(hata);
                }

            })

        }

        function Update() {

            $.ajax({

                url: "/Admin/Gear/Update",
               
                type: "Get",
                data: {
                    ID: $("#txtId").val(),
                    Name: $("#txtName").val()
                },
                contentType: "json",
                dataType: "json",
                success: function (result) {
                    GetAll();
                    alert(result);
                },
                error: function (result) {
                    alert(result);
                }
            })
        }
        function Delete(Id) {
            $.ajax({
                url: "/Admin/Gear/Delete/" + Id,
                type: "post",
                contentType: "application/json;charset=utf-8", // Verinin hangi tipte yollanacağı
                dataType: "json",
                success: function () {
                    GetAll();
                    alert(result);

                },
                error: function () {
                    alert("Hata!");
                }
            })
        }

    </script>
</body>
</html>