<ul class="nav navbar-nav navbar-right">
    <li><a href="~/SignUp/Index"><span class="glyphicon glyphicon-user"></span> Üye Ol</a></li>
    <li><a href="~/Login/Index"><span class="glyphicon glyphicon-log-in"></span> Giriş Yap</a></li>
</ul>

